<!DOCTYPE html>
<html lang="en">
  <%- include('header', {title:'New Task'}); %>
  <body>
    <%- include('navbar') %>
    <div class="container-fluid">
      <div class="row flex-nowrap min-vh-100 h-auto">
        <%- include('sidebar') %>
        <div class="col col-sm-9 col-xl-10 py-3 bg-light">
          <div class="container">
            <br />
            <div class="row mb-3 display-3 text-warning">
              Create Project
            </div>
          </div>
          <div class="container shadow p-5 mt-0 mb-5 bg-body rounded">
            <form
              action="/projects/add"
              method="POST"
              class="needs-validation"
              novalidate
            >
              <div class="row mb-3">
                <label
                  for="name"
                  class="col-sm-12 text-capitalize col-form-label lead fs-6"
                  >Name</label
                >
                <div class="col-sm-12">
                  <input
                    type="text"
                    class="form-control lead fs-6"
                    id="name"
                    name="name"
                    value="<%= name %>"
                    required
                  />
                </div>
              </div>
              <div class="row mb-3">
                <label
                  for="description"
                  class="col-sm-12 text-capitalize col-form-label lead fs-6"
                  >Description</label
                >
                <div class="col-sm-12">
                  <input
                    type="text"
                    class="form-control lead fs-6"
                    id="description"
                    name="description"
                    value="<%= description %>"
                    required
                  />
                </div>
              </div>
              <div class="row mb-3">
                <label
                  for="duedate"
                  class="col-sm-12 text-capitalize col-form-label lead fs-6"
                  >Date Due</label
                >
                <div class="col-sm-12">
                  <input
                    type="datetime-local"
                    class="form-control lead fs-6"
                    id="duedate"
                    name="duedate"
                    value="<%= duedate %>"
                    required
                  />
                </div>
              </div>

              <div class="row shadow-sm p-2 mb-5 bg-body rounded">
                <div class="col-12 lead">
                  Tasks
                  <span>
                    <a
                      href="#"
                      id="remove_fields"
                      class="text-warning btn float-end position-relative"
                    >
                      <i class="bi bi-dash-circle "></i>
                    </a>
                  </span>
                  <span>
                    <a
                      href="#"
                      id="add_more_fields"
                      class="text-warning btn float-end position-relative"
                    >
                      <i class="bi bi-plus-circle"></i>
                    </a>
                  </span>
                </div>
                <div class="row" id="add_here">
                  <% if(typeof tname === "string") { %> <% var num = 1 %> <% }
                  else { %> <% var num = tname.length %> <% } %> <% for(let i=0;
                  i< num; i+=1) { %>
                  <div class="row">
                    <div class="col-12 col-sm-4">
                      <label
                        for="tname"
                        class="col-sm-12 text-capitalize col-form-label lead fs-6"
                        >Name</label
                      >

                      <input
                        type="text"
                        class="form-control lead fs-6"
                        id="tname"
                        name="tname"
                        value="<%= tname[i] %>"
                        required
                      />
                    </div>
                    <div class="col-12 col-sm-4">
                      <label
                        for="taskduedate"
                        class="col-sm-12 text-capitalize col-form-label lead fs-6"
                        >Due Date</label
                      >

                      <input
                        type="datetime-local"
                        class="form-control lead fs-6"
                        id="taskduedate"
                        name="taskduedate"
                        value="<%= taskduedate[i] %>"
                        required
                      />
                    </div>
                    <div class="col-12 col-sm-4 mb-3">
                      <label
                        for="sendeeemail"
                        class="col-sm-12 text-capitalize col-form-label lead fs-6"
                        >Email</label
                      >

                      <input
                        type="text"
                        class="form-control <%= validation[i] %>"
                        id="sendeeemail"
                        name="sendeeemail"
                        value="<%= sendeeemail[i] %>"
                        required
                      />
                      <div class="invalid-feedback">
                        Email does not exist, enter valid email.
                      </div>
                    </div>
                  </div>

                  <% } %>
                </div>
              </div>
              <div class="mt-2 mb-3 row justify-content-start">
                <div class="d-grid jusitfy-content-start col-sm-3">
                  <button type="submit" class="btn btn-warning">
                    Submit
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <%- include('footer') %>
    <script>
      //getting the date for validation
      var now = new Date();
      now.setMinutes(now.getMinutes() - now.getTimezoneOffset());
      var today = now.toISOString().slice(0, 16);
      document.getElementById("duedate").setAttribute("min", today);
      document.getElementById("taskduedate").setAttribute("min", today);

      add_more_fields.onclick = function() {
        var html = `<div class="col-12 col-sm-4">\
        <label for="tname" class="col-sm-12 lead fs-6 text-capitalize col-form-label">Name</label>\
        <input type="text" class="form-control lead fs-6" id="tname" name="tname" required />\
        </div>\
                  <div class="col-12 col-sm-4">\
                    <label for="taskduedate" class="col-sm-12 text-capitalize lead fs-6 col-form-label">Due Date</label>\
                    <input type="datetime-local" class="form-control lead fs-6" id="taskduedate" name="taskduedate" min=${today} required/>\
                  </div>\
                  <div class="col-12 col-sm-4 mb-3">\
                    <label for="sendeeemail" class="col-sm-12 text-capitalize lead fs-6 col-form-label">Email</label>\
                    <input type="text" class="form-control lead fs-6" id="sendeeemail" name="sendeeemail" required />\
                  </div>`;

        var newField = document.getElementById("add_here");
        var newDiv = document.createElement("div");
        newDiv.classList.add("row");
        newDiv.innerHTML = html;
        newField.appendChild(newDiv);
      };

      remove_fields.onclick = function() {
        var newField = document.getElementById("add_here");
        newField.removeChild(newField.lastChild);
      };
    </script>
  </body>
</html>
